<p id="notice"><%= notice %></p>

<%= link_to new_event_path, class: "btn btn-default" do %><i class="fa fa-plus"></i> Create event<% end %>


<div class="row">

  <% @events.each do |event| %>

    <div class="col-md-4 col-sm-4 col-xs-12">

      <div class="x_panel tile fixed_height_320">
        <div class="x_title">
          <h2><%= event.name %></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">
            <ul class="quick-list">
              <li><i class="fa fa-calendar-o"></i><%= link_to 'Show', event_path(event) %></li>
              <li><i class="fa fa-calendar-o"></i><a href="#">Edit</a></li>
            </ul>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
