<div class="row tile_count">
  <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total events</span>
    <div class="count"><%= Event.count %></div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-clock-o"></i> Total invites</span>
    <div class="count"><%= Attendee.count %></div>
  </div>
</div>
